<!DOCTYPE html>
<html>
   <body>
      <h3>Ajout de block</h3>
      <hr/>

      {%- for category, message in get_flashed_messages(with_categories = true) %}
         <div class = "alert alert-danger">
            {{ message }}
         </div>
      {%- endfor %}

      <form action = "{{ request.path }}" method = "post">
         <label for="hash_precedent">hash précédent</label><br>
         <input id="hash_precedent" name="hash_precedent" placeholder="hash_precedent" type="text"/><br>
         <label for = "data">Data</label><br>
         <input id="data" name="data" placeholder="data" type="text"/><br>
         <label for = "date">Date</label><br>
         <input id="date" name="date" placeholder="date" type="text"/><br>
         <label for = "random">Random number</label><br>
         <input id="random" name="random" placeholder="random" type="text"/><br>
         <input type = "submit" value = "Submit" />
      </form>
   </body>
</html>