<!DOCTYPE html>
<html lang="fr">
<head></head>
<body>
<h3>
    <nav>
        <li><a href="{{ url_for('portefeuille') }}">Votre portefeuille</a></li>
        <li><a href="{{ url_for('show_all') }}">Liste des blocks</a></li>
        <li><a href="{{ url_for('transactions_all') }}">Liste des transactions</a></li>
        <li><a href="{{ url_for('portefeuilles_all') }}">Liste des portefeuilles</a></li>
    </nav>
</h3>

<hr/>
{%- for message in get_flashed_messages() %}
{{ message }}
{%- endfor %}

<h3>Liste des portefeuilles:</h3>
<hr>
<table>
    <thead>
    <tr>
        <th></th>
        <th>Données</th>
        <th>Date</th>
    </tr>
    </thead>

    <tbody>
    {% portefeuille in portefeuilles %}
    <tr>
        <td>
            <form action="/transactions_new.html" method="get">
                <input type="data" value="{{ portefeuille.public_key }}"/>
                <input type="data" value="{{ portefeuille.balance }}"/>
                <button formaction="/transactions_new" type="submit">Virer</button>
            </form>
        </td>
        <td>{{ portefeuille.public_key }}</td>
        <td>{{ portefeuille.balance }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>