<!DOCTYPE html>
<html lang="fr">
<head></head>
<body>
<h3>
    <nav>
        <li><a href="{{ url_for('portefeuille') }}">Votre portefeuille</a></li>
        <li><a href="{{ url_for('show_all') }}">Liste des blocks</a></li>
        <li><a href="{{ url_for('transactions_all') }}">Liste des transactions</a></li>
        <li><a href="{{ url_for('portefeuilles_all') }}">Liste des portefeuilles</a></li>
    </nav>
</h3>

<hr/>
{%- for message in get_flashed_messages() %}
{{ message }}
{%- endfor %}

<h4>(<a href="{{ url_for('transaction_new') }}">Effectuer un virements
</a>)</h4>

<h3>Votre portefeuille:</h3>
<hr>
<table>
    <thead>
    <tr>
        <th>Hash précédent</th>
        <th>Données</th>
        <th>Date</th>
    </tr>
    </thead>

    <tbody>
    {% portefeuille %}
    <tr>
        <td>{{ portefeuille.private_key }}</td>
        <td>{{ portefeuille.public_key }}</td>
        <td>{{ portefeuille.balance }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>